/* style.css */

body {
    position: relative;
    max-height: max-content;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #f9f1f1; /* Warna latar belakang lembut */
    color: #333;
}

header {
    background-color: #ffcccb; /* Warna header pink */
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #ff0095;
}

h1, h2 {
    color: #ff6f61; /* Warna judul */
}

section {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff; /* Latar belakang section putih */
    box-shadow: 0 0 20px rgba(255, 0, 128, 0.1);
}

#home {
    background-image: url('ulfa.jpg'); /* Ganti dengan path gambar background Anda */
    background-size: cover; /* Membuat gambar memenuhi seluruh area */
    background-position: center; /* Memusatkan gambar */
    background-repeat: no-repeat; /* Tidak mengulangi gambar */
    height: 100vh; /* Membuat section memiliki tinggi 100% dari viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white; /* Ubah warna teks jika perlu agar kontras dengan background */
}

img {
    margin-bottom: 20px;
}

container {
        text-align: center; /* Pusatkan elemen inline (seperti gambar) di dalam container */
    }

    img {
        display: block; /* Agar gambar tidak menjadi elemen inline */
        margin: 0 auto; /* Pusatkan secara horizontal */
    }

form {
    margin-top: 10px;
}

form label {
    display: block;
    margin-bottom: 32px;
    max-height: max-content;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form textarea {
    width: 98%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form button {
    background-color: #ff6f61; /* Warna tombol */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #ff494d; /* Warna tombol saat hover */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #ffcccb; /* Warna footer */
    bottom: 0;
}